[submodule "data"]
	path = data
	url = https://github.com/EU-TEACHING/teaching-data
	branch = main
[submodule "sensors"]
	path = sensors
	url = https://github.com/EU-TEACHING/teaching-sensors
	branch = main
[submodule "ai-toolkit"]
	path = ai-toolkit
	url = https://github.com/EU-TEACHING/teaching-ai-toolkit
	branch = main
[submodule "base"]
	path = base
	url = https://github.com/EU-TEACHING/teaching-base
	branch = main
